.thumbnail{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.what{
  margin-left: 8px;
  border: none;
  vertical-align: middle;
}

.tweet{
  background-color: rgb(57, 57, 248);
  color: white;
  border: none;
  padding-left: 11px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 18px;
  font-weight: bold;
  margin-left: 140px;
  margin-bottom: 0px;
}

.name{
  display: block;
  margin-bottom: 0px;
  margin-top: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.email{
  display: block;
  margin-top: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.long{
  width: 210px;
  display: inline-block;
  margin-top: 20px;
}

.yes{
  vertical-align: middle;
}

.no{
  vertical-align: middle;
}

.division{
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  margin-left: 10px;
  margin-top: 10px;
  width: 450px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}


