.body{
  height: 3000px;
}

.right-sidebar{
  background-color: green;
  color: white;
  width: 150px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 150px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background-color: white;
  width: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border-style: solid;
}

.modal-one{
  display: flex;
  font-family: Arial;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 0;
}

.modal-two{
  font-family: Arial;
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.modal-button{
  margin-left: 26px;
  margin-bottom: 25px;
}
