p{
  font-family: Roboto;
}

.video-title{
  font-size: 18px;
  width: 270px;
  line-height: 24px;
  margin-bottom: 5px;
}

.views-time{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 5px;
}

.brownlee{
font-size: 14px;
color: rgb(96, 96, 96);
}

.tech{
font-size: 14px;
color: rgb(96, 96, 96);
width: 270px;
line-height: 20px;
}

.shop{
background-color: rgb(227, 65, 64);
color: white;
border: none;
padding-top: 20px;
padding-left: 90px;
padding-right: 90px;
padding-bottom: 20px;;
font-size: 14px;
text-align: center;
transition: cursor;
}

.shopnow:hover{
text-decoration: underline;
cursor: pointer;
}

.tahoma{
font-weight: bold;
font-size: 20px;
font-family: Tahoma;
margin-top: 10px;
}

.course{
font-weight: bold;
font-family: Verdana;
font-size: 15px;
margin-top: 8px;
margin-bottom: 0px;
}

.pro{
color: rgb(96, 96, 96);;
font-family: Verdana;
font-size: 13px;
margin-top: 4px;
margin-bottom: 0px;
}

.skills{
font-family: Verdana;
font-size: 14px;
margin-top: 20px;
width: 300px;
}

.started{
background-color: rgb(3, 172, 3);
color: white;
border: none;
font-size: 12px;
border-radius: 3px;
padding-top: 6px;
padding-left: 13px;
padding-right: 13px;
padding-bottom: 6px;
}

.deals{
font-weight: bold;
font-size: 25px;
font-family: Arial;
margin-bottom: 0px;
}

.sales{
font-family: Arial;
font-size: 14px;
font-style: italic;
color: rgb(153, 0, 0);
margin-top: 4px;
}

.business{
font-family: Arial;
font-size: 21px;
font-weight: bold;
margin-bottom: 0px;
text-align: center;
}

.help{
font-family: Arial;
font-size: 13px;
margin-top: 15px;
font-weight: bold;
text-align: center;
}

.learn{
font-family: Arial;
color:rgb(56, 56, 255);
font-size: 13px;
margin-top: 15px;
text-align: center;
}

.new{
font-family: Arial;
color: red;
font-size: 10px;
text-align: center;
margin-bottom: 0px;
}

.book{
font-family: Arial;
font-weight: bold;
font-size: 16px;
margin-top: 6px;
text-align: center;
margin-bottom: 0px;
}

.charged{
font-family: Arial;
font-weight: bold;
font-size: 26;
margin-top: 6px;
text-align: center;
margin-bottom: 0px;
}

.from{
font-family: Arial;
font-size: 12px;
margin-top: 6px;
text-align: center;
margin-bottom: 0px;
}

.buy{
background-color: rgb(10, 64, 244);
color: white;
border: none;
border-radius: 10px;
margin-top: 6px;
font-size: 10px;
padding-top: 5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
margin-left: 495px;
}

.spane{
font-family: Arial;
font-size: 25px;
margin-bottom: 0px;
}

.text{
color: rgb(96, 96, 96);
font-family: Arial;
font-size: 13px;
margin-bottom: 0px;
}

.today{
color: green;
font-family: Arial;
font-size: 12px;
margin-top: 6px;
margin-bottom: 0px;
}

.hours{
color: rgb(96, 96, 96);
font-family: Arial;
font-size: 12px;
margin-top: 6px;
}

.sub{
color: rgb(171, 0, 0);
font-family: Arial;
font-size: 12px;
margin-top: 6px;
}

.code{
font-weight: bold;
font-family: Arial;
font-size: 14px;
margin-bottom: 0px;
}

.camp{
color: rgb(96, 96, 96);
font-family: Arial;
font-weight: normal;
font-size: 14px;
margin-bottom: 0px;
}

.developer{
font-family: Arial;
width: 470px;
line-height: 20px;
font-size: 14px;
margin-top: 6px;
margin-bottom: 0px;
}

.outline{
font-family: Arial;
font-size: 14px;
margin-top: 12px;
}

.it{
font-family: Arial;
font-size: 14px;
color: rgb(84, 84, 255);
}